.home {
  height: 100vh;
  padding: 2rem;
  font-family: "Helvetica Neue", sans-serif;
  color: black;
  background-color: rgb(251, 238, 209);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
      font-family: "Dancing Script", cursive;
    }
  }

  .entries-log {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
}
