.home {
  margin: 4vh 10vw;
  padding: 0 1rem;
  font-family: "Helvetica Neue", sans-serif;
  color: #2d3748;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
      font-family: "Dancing Script", cursive;

      font-weight: 600;
      color: #2b2d42;
    }
  }

  .entries-log {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
}
